[Desktop Entry]
Type=Application
Version=1.0
Name=VMNetX
NoDisplay=true
Comment=Execute VMNetX virtual machines
Exec=vmnetx %f
MimeType=application/x-vmnetx+xml;
