[Desktop Entry]
Type=Application
Version=1.0
Name=VMNetX
NoDisplay=true
Comment=Execute VMNetX virtual machines
Icon=vmnetx
Exec=vmnetx %u
MimeType=application/x-vmnetx-package;application/x-vmnetx-reference+xml;x-scheme-handler/vmnetx;
